@keyframes moveTop{
	0%{opacity: 0}
	100%{transform: translateY(-200px);opacity: 1}
}
-webkit-@keyframes moveTop{
	0%{opacity: 0}
	100%{ transform: translateY(-200px); opacity: 1; -webkit-transform: translateY(-200px); -webkit-opacity:1;}
}
@keyframes moveLeft{
	0%{opacity: 0}
	100%{transform: translateX(-80px); opacity: 1}
}
-webkit-@keyframes moveLeft{
	0%{opacity: 0}
	100%{ transform: translateX(-80px); opacity: 1; -webkit-transform: translateX(-80px);}
}
@keyframes moveBottom{
	0%{opacity: 0}
	100%{transform: translateY(100px);opacity: 1}
}
-webkit-@keyframes moveBottom{
	0%{opacity: 0}
	100%{ transform: translateY(100px);opacity: 1; -webkit-transform: translateY(100px);}
}
@keyframes moveRight{
	0%{opacity: 0}
	100%{transform: translateX(80px);opacity: 1}
}
-webkit-@keyframes moveRight{
	0%{opacity: 0}
	100%{ transform: translateX(80px);opacity: 1; -webkit-transform: translateX(80px);}
}
@keyframes opacity0To1{
	0%{ opacity:0;}
	100%{  opacity:1;}
}
@-webkit-keyframes opacity0To1{
	0%{ opacity:0;}
	100%{  opacity:1;}
}
@keyframes moveBottom01{
	0%{opacity: 0}
	100%{transform: translateY(250px);opacity: 1}
	
}
@-webkit-keyframes moveBottom01{
	0%{opacity: 0}
	100%{ transform: translateY(250px);opacity: 1; -webkit-transform: translateY(250px);}
}
@keyframes moveBottom02{
	0%{opacity: 0}
	100%{transform: translateY(580px);opacity: 1}
	
}
@-webkit-keyframes moveBottom02{
	0%{opacity: 0}
	100%{ transform: translateY(580px);opacity: 1; -webkit-transform: translateY(580px);}
}
@keyframes _width{
	100%{width: 460px;}
}
@-webkit-keyframes _width{
	100%{width: 460px;}
}

@keyframes moveTop01{
	100%{transform: translateY(-200px);opacity: 1}
}
-webkit-@keyframes moveTop01{
	100%{ transform: translateY(-200px); opacity: 1; -webkit-transform: translateY(-200px); -webkit-opacity:1;}
}
@keyframes moveLeft{
	0%{opacity: 0}
	100%{transform: translateX(-80px); opacity: 1}
}
-webkit-@keyframes moveLeft{
	0%{opacity: 0}
	100%{ transform: translateX(-80px); opacity: 1; -webkit-transform: translateX(-80px);}
}
@keyframes moveLeft01{
	0%{opacity: 0}
	100%{left:50px; opacity: 1}
}
-webkit-@keyframes moveLeft01{
	0%{opacity: 0}
	100%{ left: 50px; opacity: 1;}
}


@keyframes moveImg{
	0%{opacity: 0;}
	100%{transform: translate(0) rotate(-45deg); opacity: 1}
}
-webkit-@keyframes moveImg{
	0%{opacity: 0}
	100%{transform: translate(0) rotate(-45deg) ; -webkit-transform: translate(0) rotate(-45deg); opacity: 1;}
}
@keyframes moveImgTwo{
	0%{opacity: 0;}
	100%{transform: translate(0) rotate(45deg); opacity: 1}
}
-webkit-@keyframes moveImgTwo{
	0%{opacity: 0}
	100%{transform: translate(0) rotate(45deg) ; -webkit-transform: translate(0) rotate(45deg); opacity: 1;}
}
@keyframes moveImgThree{
	0%{opacity: 0;}
	100%{transform: translate(0) rotate(45deg); opacity: 1}
}
-webkit-@keyframes moveImgThree{
	0%{opacity: 0}
	100%{transform: translate(0) rotate(45deg) ; -webkit-transform: translate(0) rotate(45deg); opacity: 1;}
}

@keyframes moveBottomOpc{
	0%{opacity: 0}
	100%{transform: translateY(30px);opacity: 1}
}
-webkit-@keyframes moveBottomOpc{
	0%{opacity: 0}
	100%{ transform: translateY(30px);opacity: 1; -webkit-transform: translateY(10%);}
}
@keyframes opacity0To2{
	0%{ opacity:1;}
	100%{  opacity:0;}
}
@-webkit-keyframes opacity0To2{
	0%{ opacity:1;}
	100%{  opacity:0;}
}