.ts_container {
    padding: 0 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.O_S_caption {
    text-align: center;
}
.ts_caption {
    width: 100%;
    padding: 50px 0;
    position: relative;
    border-bottom: 2px solid #ccc;
}
.ts_cell b, .ts_caption h2 {
    font-size: 24px;
    font-weight: 400;
}
.color {
    width: 200px;
}
.cas_img {
    display: table-cell;
    width: 700px;
    overflow: hidden;
    position: relative;
}
.cas_img .sf_list {
    width: 9999px;
    overflow: hidden;
}
.cas_img .sf_list li {
    float: left;
    width: 700px;
}
.ts_one {
    width: 200px;
}
.ts_cell {
    display: table-cell;
    /* width: 501px; */
}
.ts_two {
    width: 74%;
}
.ts_cell>p {
    line-height: 30px;
}
.ts_cell p {
    font-size: 18px;
    line-height: 25px;
}
.ts_cell b, .ts_caption h2 {
    font-size: 24px;
    font-weight: 400;
}
.ts_cell>div {
    margin-bottom: 40px;
}
.ts_cell>div p {
    line-height: 30px;
}
.ts_two img, .ts_three img{
    width: 64%;
    height: 202px;
}
.sf_pos_img {
    position: absolute;
    top: 253px;
    left: 629px;
    width: 30%;
    height: 202px;
}
.sf_pos_img img {
    position: relative;
}